<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unit Price Calculator</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/element-plus/dist/index.css"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/element-plus"></script>

    <style>
      .container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px; /* Optional: to add some padding inside the container */
      }
    </style>
  </head>
  <body>
    <div id="app" class="container">
      <div>
        <h1 class="my-4">Unit Price Calculator</h1>
        <el-tabs v-model="activeName" class="tabs">
          <el-tab-pane label="Units" name="units">
            <div>
              <h2>Set Units</h2>
              <div>
                <label for="tags-basic">
                  Type a new unit and press enter (auto save)
                </label>
                <el-select
                  v-model="units"
                  multiple
                  filterable
                  allow-create
                  default-first-option
                  :reserve-keyword="false"
                  placeholder="Units"
                >
                  <el-option
                    v-for="item in units"
                    :key="item"
                    :label="item"
                    :value="item"
                  />
                </el-select>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane
            label="Unit Prices"
            name="unitPrices"
            v-if="units.length > 0"
          >
            <div>
              <h2>Set Unit Prices</h2>
              <div
                v-for="(entry, index) in unitPriceEntries"
                :key="index"
                class="unitPriceEntry"
              >
                <el-row :gutter="20" type="flex" align="middle" class="mb-3">
                  <el-col :span="5">
                    <el-form-item label="Menu Name:">
                      <el-input v-model="entry.menuName"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="5">
                    <el-form-item label="Amount:">
                      <el-input type="number" v-model="entry.amount"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="5">
                    <el-form-item label="Unit:">
                      <el-select v-model="entry.unitType">
                        <el-option
                          v-for="unit in units"
                          :key="unit"
                          :label="unit"
                          :value="unit"
                        ></el-option>
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="5">
                    <el-form-item label="Price (Baht):">
                      <el-input type="number" v-model="entry.price"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="4">
                    <el-button
                      type="danger"
                      @click="removeUnitPriceEntry(index)"
                      >Remove</el-button
                    >
                  </el-col>
                </el-row>
              </div>
              <div class="d-flex" style="column-gap: 8px">
                <el-button type="primary" @click="addUnitPriceEntry"
                  >Add Another Unit Price</el-button
                >
                <el-button type="success" @click="saveUnitPrices"
                  >Save Unit Prices</el-button
                >
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane
            label="Calculator"
            name="calculator"
            v-if="units.length > 0 && unitPriceEntries.length > 0"
          >
            <h2>Item Amount</h2>
            <div>
              <div
                v-for="(entry, i) in displayUnitPriceEntries"
                :key="i"
                class="unitPriceEntry"
              >
                <el-row :gutter="20" type="flex" align="middle" class="mb-3">
                  <el-col :span="6">
                    <el-form-item label="Menu Name:">
                      <el-input v-model="entry.menuName" disabled></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="6">
                    <el-form-item label="Amount:">
                      <el-input
                        type="number"
                        v-model="entry.totalAmount"
                      ></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="6">
                    <el-form-item label="Unit:">
                      <el-select :model-value="entry.unitType" disabled>
                        <el-option
                          v-for="unit in units"
                          :key="unit"
                          :label="unit"
                          :value="unit"
                        ></el-option>
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="6">
                    <el-form-item label="Price (Baht):">
                      <el-input
                        type="number"
                        v-model="entry.totalPrice"
                        readonly
                      ></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
              </div>
            </div>
            <div class="my-4">
              <h3 class="mt-3">
                Total Price:
                <el-text class="mx-1" type="success">{{ totalPrice }}</el-text>
                Baht
              </h3>
            </div>
            <el-button type="danger" @click="clearPrice">Clear Price</el-button>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
    <script>
      const { createApp, ref, onMounted, watch, computed } = Vue;
      createApp({
        setup() {
          const activeName = ref("units");
          const units = ref([]);
          const unitPriceEntries = ref([]);
          const displayUnitPriceEntries = ref([]);

          onMounted(() => {
            setUnits();
            setUnitPrices();
            setDisplayUnitPrices();
            setActiveTab();
          });

          watch(units, (newV) => {
            localStorage.setItem("units", JSON.stringify(newV));
          });
          watch(
            displayUnitPriceEntries,
            (newV) => {
              for (let item of newV) {
                if (item.totalAmount !== undefined) {
                  item.totalPrice =
                    (item.totalAmount / item.amount) * item.price;
                }
              }
            },
            { deep: true },
          );

          const setActiveTab = () => {
            if (units.value.length === 0) {
              activeName.value = "units";
            } else if (unitPriceEntries.value.length === 0) {
              activeName.value = "unitPrices";
            } else {
              activeName.value = "calculator";
            }
          };

          const setDisplayUnitPrices = () => {
            displayUnitPriceEntries.value =
              JSON.parse(localStorage.getItem("unitPrices")) || [];
          };

          const setUnits = () => {
            units.value = JSON.parse(localStorage.getItem("units")) || [];
          };

          const setUnitPrices = () => {
            unitPriceEntries.value =
              JSON.parse(localStorage.getItem("unitPrices")) || [];
          };

          const addUnitPriceEntry = () => {
            unitPriceEntries.value.push({
              unitType: "kg",
              amount: null,
              price: null,
            });
          };

          const removeUnitPriceEntry = (index) => {
            unitPriceEntries.value.splice(index, 1);
            clearPrice();
          };

          const saveUnitPrices = () => {
            const unitPrices = unitPriceEntries.value
              .filter((entry) => entry.unitType && entry.amount && entry.price)
              .map((v, index) => ({ ...v, index }));
            localStorage.setItem("unitPrices", JSON.stringify(unitPrices));
            clearPrice();
            alert("Unit prices saved!");
          };

          const totalPrice = computed(() => {
            return displayUnitPriceEntries.value
              .reduce((p, c) => {
                return (p += c.totalPrice || 0);
              }, 0)
              .toFixed(0);
          });

          const clearPrice = () => {
            setDisplayUnitPrices();
          };

          return {
            unitPriceEntries,
            addUnitPriceEntry,
            removeUnitPriceEntry,
            saveUnitPrices,
            displayUnitPriceEntries,
            totalPrice,
            clearPrice,
            units,
            activeName,
          };
        },
      })
        .use(ElementPlus)
        .mount("#app");
    </script>
  </body>
</html>
